#footer{
    padding: 35px;
    background-color: var(--color-primary);
}
.myparenttarget div{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.myparenttarget h2{
    font-weight: bold;
    color: black;
    border-bottom: 1px solid var(--color-light);
    border-radius: 50%;
}
.footer__socialss a{
    padding: 10px;
    align-items: center;
    color: var(--color-light);
    /* border-bottom: 2px ridge var(--color-primary); */
    border-radius: 50%;
    font-size: 2rem;
    margin:10px;
}
.myul{
    padding: 0;
}
.myul , a{
    color: var(--color-dark);
    padding: 10px;
}
.footer__socialss a:hover{
    color: var(--color-dark);
    /* border-color: var(--color-light); */
}